<html>
  <head>
    <title>One Direct Assignment Project</title>
    
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/css/mdb.min.css" rel="stylesheet">
    <link href="/css/home.css" rel="stylesheet" type="text/css">
  </head>
 
  <body>
    
    <!--<form action="/" method="post">-->
    <!--  <input type="text" name="entered_username" placeholder="twitter username">-->
    <!--  <button>Submit</button>-->
    <!--</form>-->
    
    
    
    
    
    <div class="card">
      <div class="card-body">
        <!-- Form -->
        <form action="/" method="post">
            <p class="h4 text-center mb-4">Twitter Login</p>
        
            <!-- user's twitter username -->
            <label for="entered_username" class="grey-text">Your twitter username</label>
            <input type="text" id="entered_username" name="entered_username" class="form-control">

        
            <div class="text-center mt-4">
                <button class="btn btn-indigo" type="submit">Login</button>
            </div>
        </form>
        <!-- Form -->
      </div>
    </div>
        
    
    <p id="message"><%=message%></p>
    <% if(message != "") {%>
        <a href="https://twitter.com/logout">Logout from twitter</a>
    <% } %>
    
    
    
    
    
    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/js/mdb.min.js"></script>
    
  </body>

</html>
