<html>
  <head>
    <title>One Direct Assignment Project</title>
  </head>
 
  <body>
    
    <form action="/" method="post">
      <input type="text" name="entered_username" placeholder="twitter username">
      <button>Submit</button>
    </form>
    
    
    
    
  </body>

</html>
