<html>
  <head>
    <title>One Direct Assignment Project</title>
  </head>
 
  <body>
    
    <h1>SHOW PAGE</h1>
    <% for(var i=0; i<twitter_data.length; i++){ %>
    <p>
        tweet_owner_name: <%=twitter_data[i].tweet_owner_name%><br>
        created_at:       <%=twitter_data[i].created_at%><br>
        tweet_id:         <%=twitter_data[i].tweet_id%><br>
        tweet_content_url:<%=twitter_data[i].tweet_content_url%><br>
    </p>
    <hr>
    <% } %>
    
    
    
    
    
  </body>

</html>
