<html>
  <head>
    <title>One Direct Assignment Project</title>
  </head>
 
  <body>
    
    <h1>SHOW PAGE</h1>
    <% for(var i=0; i<twitter_data.length; i++){ %>
        <p></p><%=twitter_data[i].tweet_content_url%></p>
    <% } %>
    
    
    
    
    
  </body>

</html>
