body {
     background: #42275a;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #734b6d, #42275a);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #734b6d, #42275a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin-bottom: 70;
}

h1 {
    text-align: center;
    color: white;
}

span {
    color: white;
    font-size: 15px;
}

#url_link {
    text-decoration: underline;
}

#user_name {
    color: #734b6d
}

#current_user {
    color: white;
}